{% extends "templates/base.njk" %}

{% block title %}Main{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <h1>Threads</h1>
    <ul>
        {% for thread in threads %}
            <li><a href="thread/{{ thread.id }}">{{ thread.title }}</a><li>
        {% else %}
            <li>No threads</li>
        {% endfor %}
    </ul>
{% endblock %}
