{% extends "templates/base.njk" %}

{% block title %}Main{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    {% if user %}
        {{ user.username }}
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    {% endif %}
{% endblock %}
