{% extends "templates/base.njk" %}

{% block title %}{{ thread.title }}{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <h1>{{ thread.title }}</h1>
    <p>{{ thread.content }}</p>
{% endblock %}
